.details-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.details-container h2,
h3 {
    text-align: center;
}

.details-image {
    width: 40%;
    text-align: center;
}